@import "~antd/dist/antd.css";

body {
  background: #f0f2f5;
}
.layout {
  height: 100%;
}
#root {
  height: 100%;
}
.user-header {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.user-content {
  overflow-y: scroll;
  height: 350px;
}
